Repository OpenPeerPower/core: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, gen_requirements_all, oppfest

mypy:
  name: mypy
  entry: script/run-in-env.sh mypy
  language: script
  require_serial: true

gen_requirements_all:
  name: gen_requirements_all
  entry: script/run-in-env.sh python3 -m script.gen_requirements_all
  pass_filenames: false
  language: script

oppfest:
  name: oppfest
  entry: script/run-in-env.sh python3 -m script.oppfest
  pass_filenames: false
  language: script

more fixes
  openpeerpower/components/api/__init__.py
  openpeerpower/components/configurator/__init__.py
  openpeerpower/components/eafm/config_flow.py
  openpeerpower/components/epson/config_flow.py
  openpeerpower/components/fritz/config_flow.py
  openpeerpower/components/mqtt/subscription.py
  openpeerpower/components/opentherm_gw/binary_sensor.py
  openpeerpower/components/opentherm_gw/climate.py
  openpeerpower/components/plant/__init__.py
  openpeerpower/components/scsgate/switch.py
  openpeerpower/components/statistics/sensor.py
  openpeerpower/components/zwave/__init__.py
  openpeerpower/helpers/entity_component.py
  script/oppfest/__main__.py
  tests/helpers/test_entity.py
  tests/util/test_dt.py
Due: mypy

more fixes 2
  openpeerpower/components/opentherm_gw/sensor.py
Due: mypy

more fixes 3
  .coveragerc
  openpeerpower/components/arcam_fmj/device_trigger.py
  openpeerpower/components/blueprint/models.py
  openpeerpower/components/blueprint/schemas.py
  openpeerpower/components/cast/media_player.py
  openpeerpower/components/kodi/device_trigger.py
  openpeerpower/components/mqtt/__init__.py
  openpeerpower/components/openpeerpower/triggers/state.py
  openpeerpower/components/oppio/ingress.py
  openpeerpower/components/philips_js/__init__.py
  openpeerpower/components/stream/hls.py
  tests/components/cloud/test_http_api.py
  tests/components/emulated_hue/test_upnp.py
  tests/components/tplink/test_light.py
  tests/oppfest/test_version.py
Due: mypy, oppfest

Wed fixes
  .strict-typing
  mypy.ini
  openpeerpower/components/cloud/__init__.py
  openpeerpower/components/cloud/account_link.py
  openpeerpower/components/cloud/alexa_config.py
  openpeerpower/components/cloud/client.py
  openpeerpower/components/cloud/google_config.py
  openpeerpower/components/cloud/http_api.py
  openpeerpower/components/cloud/manifest.json
  openpeerpower/components/cloud/stt.py
  openpeerpower/components/cloud/system_health.py
  openpeerpower/components/cloud/tts.py
  openpeerpower/components/remember_the_milk/services.yaml
  script/oppfest/mypy_config.py
  tests/components/cloud/__init__.py
  tests/components/cloud/conftest.py
  tests/components/cloud/test_account_link.py
  tests/components/cloud/test_client.py
  tests/components/cloud/test_google_config.py
  tests/components/cloud/test_http_api.py
  tests/components/cloud/test_init.py
  tests/components/cloud/test_tts.py
  tests/helpers/test_config_entry_flow.py
Due: mypy, gen_requirements_all, oppfest

added trace
  openpeerpower/components/network/__init__.py
  openpeerpower/components/network/const.py
  openpeerpower/components/network/manifest.json
  openpeerpower/components/network/models.py
  openpeerpower/components/network/network.py
  openpeerpower/components/network/util.py
  openpeerpower/components/trace/__init__.py
  openpeerpower/components/trace/const.py
  openpeerpower/components/trace/manifest.json
  openpeerpower/components/trace/utils.py
  openpeerpower/components/trace/websocket_api.py
  openpeerpower/package_constraints.txt
  requirements_all.txt
  requirements_test_all.txt
Due: mypy, gen_requirements_all, oppfest

after black
  openpeerpower/components/frontend/__init__.py
  openpeerpower/components/frontend/manifest.json
  openpeerpower/components/trace/websocket_api.py
  openpeerpower/package_constraints.txt
  requirements_all.txt
  requirements_test_all.txt
  tests/components/frontend/test_init.py
Due: mypy, gen_requirements_all, oppfest

fixed oppfest errors
  .coveragerc
  CODEOWNERS
  mypy.ini
  openpeerpower/components/frontend/manifest.json
  openpeerpower/components/geizhals/__init__.py
  openpeerpower/components/geizhals/manifest.json
  openpeerpower/components/geizhals/sensor.py
  openpeerpower/components/lifx_legacy/__init__.py
  openpeerpower/components/lifx_legacy/light.py
  openpeerpower/components/lifx_legacy/manifest.json
  openpeerpower/components/n26/__init__.py
  openpeerpower/components/n26/const.py
  openpeerpower/components/n26/manifest.json
  openpeerpower/components/n26/sensor.py
  openpeerpower/components/n26/switch.py
  openpeerpower/components/socialblade/__init__.py
  openpeerpower/components/socialblade/manifest.json
  openpeerpower/components/socialblade/sensor.py
  openpeerpower/components/spotcrime/__init__.py
  openpeerpower/components/spotcrime/manifest.json
  openpeerpower/components/spotcrime/sensor.py
  openpeerpower/generated/config_flows.py
  openpeerpower/generated/dhcp.py
  openpeerpower/generated/ssdp.py
  openpeerpower/generated/zeroconf.py
  openpeerpower/package_constraints.txt
  requirements_all.txt
  requirements_test_all.txt
  script/oppfest/mypy_config.py
Due: mypy, gen_requirements_all, oppfest

fixed zwave errors
  openpeerpower/components/zwave/manifest.json
  requirements_all.txt
Due: gen_requirements_all, oppfest

regen requirements
  requirements_all.txt
  requirements_test_all.txt
Due: none

Removed vizio test
  tests/components/vizio/__init__.py
  tests/components/vizio/conftest.py
  tests/components/vizio/const.py
  tests/components/vizio/test_config_flow.py
  tests/components/vizio/test_init.py
  tests/components/vizio/test_media_player.py
Due: none

correct opp unction
  openpeerpower/helpers/template.py
Due: mypy

Fixed main in wheels
  .github/workflows/wheels.yml
Due: none

re-ran oppfest
  mypy.ini
  openpeerpower/generated/config_flows.py
  openpeerpower/generated/zeroconf.py
Due: mypy

removed restore keys
  .github/workflows/ci.yaml
Due: none

master to main
  .github/workflows/builder.yml
Due: none

removed ee_brightbox
  openpeerpower/components/ee_brightbox/__init__.py
  openpeerpower/components/ee_brightbox/device_tracker.py
  openpeerpower/components/ee_brightbox/manifest.json
  tests/components/ee_brightbox/__init__.py
  tests/components/ee_brightbox/test_device_tracker.py
Due: mypy, gen_requirements_all, oppfest

rebase 2
  .coveragerc
  .pre-commit-config.yaml
  openpeerpower/components/risco/config_flow.py
  openpeerpower/components/websocket_api/__init__.py
Due: mypy, gen_requirements_all, oppfest

rebase 3
  CODEOWNERS
  mypy.ini
  openpeerpower/components/websocket_api/__init__.py
  openpeerpower/generated/config_flows.py
  openpeerpower/generated/zeroconf.py
  openpeerpower/package_constraints.txt
  requirements.txt
  requirements_all.txt
  requirements_test_all.txt
Due: mypy

rebase 4
  openpeerpower/components/ping/manifest.json
  openpeerpower/components/sma/manifest.json
Due: gen_requirements_all, oppfest

rebase 5
  requirements_all.txt
  requirements_test_all.txt
Due: none

rebase 7
  CODEOWNERS
  openpeerpower/components/jewish_calendar/__init__.py
  openpeerpower/components/jewish_calendar/binary_sensor.py
  openpeerpower/components/jewish_calendar/manifest.json
  openpeerpower/components/jewish_calendar/sensor.py
  openpeerpower/generated/zeroconf.py
  requirements_all.txt
  tests/components/auth/test_indieauth.py
Due: mypy, gen_requirements_all, oppfest

rebase 8
  mypy.ini
  openpeerpower/components/ssdp/descriptions.py
  openpeerpower/components/ssdp/flow.py
  openpeerpower/components/ssdp/util.py
Due: mypy

zeroconf 0
  mypy.ini
  openpeerpower/components/dnsip/sensor.py
  openpeerpower/components/local_ip/__init__.py
  openpeerpower/components/local_ip/config_flow.py
  openpeerpower/components/local_ip/sensor.py
  openpeerpower/components/ssdp/__init__.py
  openpeerpower/components/zeroconf/__init__.py
  openpeerpower/components/zeroconf/models.py
Due: mypy

zeroconf 2
  openpeerpower/components/ssdp/manifest.json
  openpeerpower/components/zeroconf/manifest.json
  openpeerpower/package_constraints.txt
  requirements_all.txt
  requirements_test_all.txt
Due: gen_requirements_all, oppfest

restrained lock
  .github/workflows/lock.yml
Due: none

after BC 2
  openpeerpower/const.py
Due: mypy

after BC 3
  tests/components/media_source/test_init.py
  tests/components/media_source/test_local_source.py
Due: none

after BC 4
  tests/components/homekit/test_homekit.py
Due: none

after BC 5
  openpeerpower/components/risco/config_flow.py
  openpeerpower/components/risco/strings.json
  openpeerpower/components/risco/translations/ca.json
  openpeerpower/components/risco/translations/cs.json
  openpeerpower/components/risco/translations/de.json
  openpeerpower/components/risco/translations/el.json
  openpeerpower/components/risco/translations/en.json
  openpeerpower/components/risco/translations/es.json
  openpeerpower/components/risco/translations/et.json
  openpeerpower/components/risco/translations/fr.json
  openpeerpower/components/risco/translations/id.json
  openpeerpower/components/risco/translations/it.json
  openpeerpower/components/risco/translations/ko.json
  openpeerpower/components/risco/translations/lb.json
  openpeerpower/components/risco/translations/nl.json
  openpeerpower/components/risco/translations/no.json
  openpeerpower/components/risco/translations/pl.json
  openpeerpower/components/risco/translations/pt.json
  openpeerpower/components/risco/translations/ru.json
  openpeerpower/components/risco/translations/uk.json
  openpeerpower/components/risco/translations/zh-Hant.json
  tests/components/homekit/test_homekit.py
  tests/components/risco/test_config_flow.py
Due: mypy, oppfest

after BC 6
  tests/components/zwave_js/test_init.py
Due: none

after BC 7
  tests/components/zwave_js/test_init.py
Due: none

after BC 8
  tests/components/zeroconf/test_init.py
Due: none

set wheels version
  .github/workflows/wheels.yml
Due: none

Path conditions:
  mypy: any of: ^openpeerpower/.+\.py$ and \.py$
  gen_requirements_all: any of: ^(openpeerpower/.+/manifest\.json|\.pre-commit-config\.yaml)$
  oppfest: any of: ^(openpeerpower/.+/(manifest|strings)\.json|\.coveragerc|openpeerpower/.+/services\.yaml)$
