Repository OpenPeerPower/core: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, gen_requirements_all, oppfest

mypy:
  name: mypy
  entry: script/run-in-env.sh mypy
  language: script
  require_serial: true

gen_requirements_all:
  name: gen_requirements_all
  entry: script/run-in-env.sh python3 -m script.gen_requirements_all
  pass_filenames: false
  language: script

oppfest:
  name: oppfest
  entry: script/run-in-env.sh python3 -m script.oppfest
  pass_filenames: false
  language: script

after isort
  openpeerpower/components/version/sensor.py
Due: mypy

bump pyoppversion
  openpeerpower/components/version/manifest.json
  requirements_all.txt
  requirements_test_all.txt
Due: gen_requirements_all, oppfest

run fixes
  openpeerpower/components/cast/open_peer_power_cast.py
  openpeerpower/components/greenwave/light.py
  openpeerpower/components/huawei_lte/translations/et.json
  openpeerpower/components/point/alarm_control_panel.py
  openpeerpower/components/point/binary_sensor.py
  openpeerpower/helpers/event.py
  tests/helpers/test_template.py
Due: mypy

run refixes
  openpeerpower/components/cast/open_peer_power_cast.py
  openpeerpower/components/greenwave/light.py
Due: mypy

name change
  openpeerpower/loader.py
Due: mypy

fixes so far
  .coveragerc
  openpeerpower/components/airly/manifest.json
  openpeerpower/components/dlna_dmr/media_player.py
  openpeerpower/components/esphome/manifest.json
  openpeerpower/components/telegram/__init__.py
  openpeerpower/components/telegram/manifest.json
  openpeerpower/components/telegram/notify.py
  openpeerpower/components/telegram/services.yaml
  openpeerpower/components/telegram_bot/__init__.py
  openpeerpower/components/telegram_bot/broadcast.py
  openpeerpower/components/telegram_bot/manifest.json
  openpeerpower/components/telegram_bot/polling.py
  openpeerpower/components/telegram_bot/services.yaml
  openpeerpower/components/telegram_bot/webhooks.py
  openpeerpower/components/websocket_api/__init__.py
  openpeerpower/components/websocket_api/commands.py
  openpeerpower/components/websocket_api/const.py
  requirements_all.txt
  requirements_test_all.txt
  tests/components/telegram/__init__.py
  tests/components/telegram/test_notify.py
  tests/components/websocket_api/test_commands.py
Due: mypy, gen_requirements_all, oppfest

nest tests
  openpeerpower/components/websocket_api/__init__.py
  requirements_all.txt
  requirements_test_all.txt
  tests/components/nest/test_init_sdm.py
Due: mypy

nest tests again
  tests/components/nest/test_init_sdm.py
Due: none

uploaded version
  openpeerpower/const.py
  script/release
  setup.py
Due: mypy

version url
  openpeerpower/components/updater/__init__.py
  openpeerpower/components/updater/binary_sensor.py
  openpeerpower/components/updater/translations/zh-Hant.json
  setup.py
Due: mypy

trial
  openpeerpower/package_constraints.txt
  requirements.txt
Due: none

patch version
  openpeerpower/const.py
Due: mypy

patch version test
  tests/components/updater/test_init.py
Due: none

ran black
  tests/components/updater/test_init.py
Due: none

after tox
  openpeerpower/components/binary_sensor/device_condition.py
  openpeerpower/components/binary_sensor/group.py
  openpeerpower/components/binary_sensor/significant_change.py
  openpeerpower/components/binary_sensor/translations/id.json
  openpeerpower/components/binary_sensor/translations/ko.json
  openpeerpower/components/binary_sensor/translations/zh-Hans.json
  openpeerpower/components/waterfurnace/sensor.py
  script/gen_requirements_all.py
  script/lazytox.py
  tests/components/binary_sensor/test_init.py
  tests/components/updater/test_init.py
Due: mypy

waterfurnace
  openpeerpower/components/waterfurnace/__init__.py
  openpeerpower/components/waterfurnace/manifest.json
  openpeerpower/components/waterfurnace/sensor.py
  requirements_all.txt
  tests/components/updater/test_init.py
Due: mypy, gen_requirements_all, oppfest

correct coverage
  .coveragerc
Due: oppfest

removed updater tests
  tests/components/updater/__init__.py
  tests/components/updater/test_init.py
Due: none

regened requirements
  requirements_test_all.txt
Due: none

removed test translation
  tests/helpers/test_translation.py
Due: none

fixed ssl error
  openpeerpower/components/google/__init__.py
  openpeerpower/components/updater/__init__.py
Due: mypy

changed frontend version
  requirements_all.txt
Due: none

up core version
  openpeerpower/components/frontend/manifest.json
  openpeerpower/const.py
  openpeerpower/package_constraints.txt
  requirements_test_all.txt
Due: mypy, gen_requirements_all, oppfest

component pruning 1
  openpeerpower/components/frontend/__init__.py
  openpeerpower/components/frontend/manifest.json
  openpeerpower/components/islamic_prayer_times/__init__.py
  openpeerpower/components/islamic_prayer_times/config_flow.py
  openpeerpower/components/islamic_prayer_times/const.py
  openpeerpower/components/islamic_prayer_times/manifest.json
  openpeerpower/components/islamic_prayer_times/sensor.py
  openpeerpower/components/islamic_prayer_times/strings.json
  openpeerpower/components/islamic_prayer_times/translations/ca.json
  openpeerpower/components/islamic_prayer_times/translations/cs.json
  openpeerpower/components/islamic_prayer_times/translations/de.json
  openpeerpower/components/islamic_prayer_times/translations/el.json
  openpeerpower/components/islamic_prayer_times/translations/en.json
  openpeerpower/components/islamic_prayer_times/translations/es-419.json
  openpeerpower/components/islamic_prayer_times/translations/es.json
  openpeerpower/components/islamic_prayer_times/translations/et.json
  openpeerpower/components/islamic_prayer_times/translations/fr.json
  openpeerpower/components/islamic_prayer_times/translations/it.json
  openpeerpower/components/islamic_prayer_times/translations/ka.json
  openpeerpower/components/islamic_prayer_times/translations/ko.json
  openpeerpower/components/islamic_prayer_times/translations/lb.json
  openpeerpower/components/islamic_prayer_times/translations/nl.json
  openpeerpower/components/islamic_prayer_times/translations/no.json
  openpeerpower/components/islamic_prayer_times/translations/pl.json
  openpeerpower/components/islamic_prayer_times/translations/pt.json
  openpeerpower/components/islamic_prayer_times/translations/ru.json
  openpeerpower/components/islamic_prayer_times/translations/sl.json
  openpeerpower/components/islamic_prayer_times/translations/tr.json
  openpeerpower/components/islamic_prayer_times/translations/uk.json
  openpeerpower/components/islamic_prayer_times/translations/zh-Hant.json
  openpeerpower/generated/config_flows.py
  openpeerpower/package_constraints.txt
  requirements_all.txt
  requirements_test_all.txt
  tests/components/islamic_prayer_times/__init__.py
  tests/components/islamic_prayer_times/test_config_flow.py
  tests/components/islamic_prayer_times/test_init.py
  tests/components/islamic_prayer_times/test_sensor.py
Due: mypy, gen_requirements_all, oppfest

removed more
  openpeerpower/components/irish_rail_transport/__init__.py
  openpeerpower/components/irish_rail_transport/manifest.json
  openpeerpower/components/irish_rail_transport/sensor.py
  openpeerpower/components/jewish_calendar/__init__.py
  openpeerpower/components/jewish_calendar/binary_sensor.py
  openpeerpower/components/jewish_calendar/manifest.json
  openpeerpower/components/jewish_calendar/sensor.py
  openpeerpower/components/nsw_fuel_station/__init__.py
  openpeerpower/components/nsw_fuel_station/manifest.json
  openpeerpower/components/nsw_fuel_station/sensor.py
  openpeerpower/components/nsw_rural_fire_service_feed/__init__.py
  openpeerpower/components/nsw_rural_fire_service_feed/geo_location.py
  openpeerpower/components/nsw_rural_fire_service_feed/manifest.json
  tests/components/jewish_calendar/__init__.py
  tests/components/jewish_calendar/test_binary_sensor.py
  tests/components/jewish_calendar/test_sensor.py
  tests/components/nsw_fuel_station/__init__.py
  tests/components/nsw_fuel_station/test_sensor.py
  tests/components/nsw_rural_fire_service_feed/__init__.py
  tests/components/nsw_rural_fire_service_feed/test_geo_location.py
Due: mypy, gen_requirements_all, oppfest

fixed requirements
  requirements_all.txt
  requirements_test_all.txt
Due: none

after bc
  .github/PULL_REQUEST_TEMPLATE.md
  .github/workflows/ci.yaml
  .github/workflows/stale.yml
  CODEOWNERS
  openpeerpower/components/free_mobile/__init__.py
  openpeerpower/components/free_mobile/manifest.json
  openpeerpower/components/free_mobile/notify.py
  requirements_all.txt
Due: mypy, gen_requirements_all, oppfest

after bc 2
  .coveragerc
  .github/workflows/builder.yml
  .github/workflows/wheels.yml
  CODEOWNERS
  openpeerpower/package_constraints.txt
  requirements.txt
  setup.py
Due: oppfest

be 12
  .github/ISSUE_TEMPLATE/bug_report.yml
  openpeerpower/components/aemet/abstract_aemet_sensor.py
  openpeerpower/components/airvisual/translations/vi.json
  openpeerpower/components/atag/translations/he.json
  openpeerpower/components/august/translations/lv.json
  openpeerpower/components/august/translations/zh-Hans.json
  openpeerpower/components/cast/open_peer_power_cast.py
  openpeerpower/components/garmin_connect/translations/hu.json
  openpeerpower/components/garmin_connect/translations/nl.json
  openpeerpower/components/garmin_connect/translations/ru.json
  openpeerpower/generated/dhcp.py
  script/scaffold/templates/config_flow/integration/__init__.py
  script/scaffold/templates/config_flow/integration/config_flow.py
  script/scaffold/templates/config_flow/tests/test_config_flow.py
  script/scaffold/templates/config_flow_discovery/integration/__init__.py
  script/scaffold/templates/config_flow_discovery/integration/config_flow.py
  script/scaffold/templates/config_flow_oauth2/integration/__init__.py
  script/scaffold/templates/config_flow_oauth2/integration/api.py
  script/scaffold/templates/config_flow_oauth2/integration/config_flow.py
  script/scaffold/templates/config_flow_oauth2/tests/test_config_flow.py
  script/scaffold/templates/device_action/integration/device_action.py
  script/scaffold/templates/device_action/tests/test_device_action.py
  script/scaffold/templates/device_condition/integration/device_condition.py
  script/scaffold/templates/device_condition/tests/test_device_condition.py
  script/scaffold/templates/device_trigger/integration/device_trigger.py
  script/scaffold/templates/device_trigger/tests/test_device_trigger.py
  script/scaffold/templates/integration/integration/__init__.py
  script/scaffold/templates/reproduce_state/integration/reproduce_state.py
  script/scaffold/templates/reproduce_state/tests/test_reproduce_state.py
  script/scaffold/templates/significant_change/integration/significant_change.py
  script/translations/download.py
  tests/components/analytics/__init__.py
  tests/components/analytics/test_analytics.py
  tests/components/analytics/test_init.py
Due: mypy

Path conditions:
  mypy: any of: ^openpeerpower/.+\.py$ and \.py$
  gen_requirements_all: any of: ^(openpeerpower/.+/manifest\.json|\.pre-commit-config\.yaml)$
  oppfest: any of: ^(openpeerpower/.+/(manifest|strings)\.json|\.coveragerc|openpeerpower/.+/services\.yaml)$
